body {
  background-color: #eaeaea
}

.App {
  text-align: center;    
}

.App-logo {
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

.App-header {
  background-color: #fff;
  font-size: x-large;
  height: 95 px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: black;
}

.App-intro {
  font-size: large;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}